body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:1180px ;
    margin: auto;
    padding-left:15px ;
    padding-right: 15px;
}
.adnav{
  height: 80px;
  }
  .adnavbarflex{
    display: flex;
    justify-content: space-between;
  }
  .adnavlogo{
    padding-top: 25px;
  }
  .adnavlogo h2{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
  }
  a{
    text-decoration: none;
  }
  .addta{
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%);
    height: auto;
  }
  .addtask{
margin-bottom: 20px;
  }
  .addflex{
    justify-content: flex-start;
  }
 .form{
  padding-top: 30px;
 }
.TextField{
    width: 29%;
    padding-top:30px ;
    padding-bottom: 10px;
 
    background-color: #fff;
  }
 
 .title{
  margin-top: 30px;
  margin-bottom: 30px;
 }
 .taskdesc{
  margin-bottom: 30px;
 }
 .Button{
  margin-bottom: 30px;
  color: #fff;
 }
 Link{
margin-left: 30px;
 }
 label{
  color: #fff;
 }
  p{
    color: #fff;
    font-size: 20px;
  }
.TextField{
    color: #fff;
  }
  .taskbtn{
    margin-top: 30px;
    
  }
  