body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:1180px ;
    margin: auto;
    padding-left:15px ;
    padding-right: 15px;
}
.nav{
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%);
  height: 150px;
}
.navbarflex{
  display: flex;
  justify-content: space-between;
}
.navlogo{
  padding-top: 50px;
}
.navlogo h2{
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.navbarlist ul{
  list-style: none;
  display: flex;
}
.navbarlist li{
  padding: 50px 80px 30px 80px;
  font-size: 25px;
  color: #fff;
}